<table>

  <tr>
    <td>
      <a routerLink="/food/{{order.food.id}}">
        <img [src]="order.food.imageUrl"/>
      </a>
    </td>
    <td>
      {{order.food.name}}
    </td>
    <td>
      {{order.food.price | currency}}
    </td>
    <td>
      {{order.quantity}}
    </td>
    <td>
      {{order.price | currency}}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong>
        Tổng :
      </strong>
    </td>
    <td>
      <strong>
        {{order.price | currency}}
      </strong>
    </td>
  </tr>
</table>
